<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="empBean" class="com.spring.Employee">
   <constructor-arg value="101"></constructor-arg>
   <constructor-arg value="naveen"></constructor-arg>
   <constructor-arg value="65000"></constructor-arg>
   <constructor-arg> 
   <ref bean="addBean"/>
   </constructor-arg>
   </bean>
   
   <bean id="addBean" class="com.spring.Address">
   <constructor-arg value="Bangalore"></constructor-arg>
   <constructor-arg value="Karnataka"></constructor-arg>
   <constructor-arg value="India"></constructor-arg>
   </bean>
   
   </beans>
   
   
   