<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="empBean" class="com.spring.Employee">
   <property name="id" value="3453"></property>
   <property name="name" value="Naveen"></property>
   <property name="salary" value="65000"></property>
   
   <property name="mobile">
   <list>
   <value>9564842256</value>
   <value>6645466666</value>
   <value>+656665656</value>
   <value>3463546665</value>
   </list>
   </property>
   </bean>
   
   
   </beans>