<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="empBean" class="com.spring.Employee">
   <property name="id" value="234"></property>
   <property name="name" value="Naveen"></property>
   <property name="salary" value="75000"></property>
   <property name="address">
   <ref bean="addBean"></ref>
   </property>
   </bean>
   
   <bean id="addBean" class="com.spring.Address">
   <property name="city" value="Hyderabad"></property>
   <property name="state" value="Telangana"></property>
   <property name="country" value="India"></property>
   </bean>
   
   </beans>
   
   
   